body {
    background-color: auto;
}

.text-primary {
    color: var(--warna) !important;
}

.bg-primary-custom {
    color: var(--warna) !important;
}

/* Style untuk navbar yang dapat digeser ke kiri dan kanan */
.navbar-nav-container {
    overflow-x: auto; /* Memungkinkan konten navbar digulir secara horizontal */
    white-space: nowrap; /* Mencegah item navbar membungkus ke baris berikutnya */
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Pastikan z-index cukup tinggi untuk menempatkan navbar di atas konten lainnya */
}

.navbar-nav {
    display: inline-block; /* Menampilkan elemen ul sebagai elemen inline-block */
    /* padding-left: 500px; Menghapus padding default */
    margin-bottom: 0; /* Menghapus margin bawah default */
}

.nav-item {
    display: inline-block;
    /* margin-left: 1.5rem */
}
.custom-padding {
    padding-left: 5rem;
    padding-right: 5rem;
}
.custom-padding-detail {
    padding-left: 8rem;
    padding-right: 8rem;
}

.position-relative {
    position: relative; 
    background-size: cover;
    background-position: center center; 
    height: 713px; /* Sesuaikan tinggi sesuai kebutuhan */
}


.overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/gradian.svg');
    background-size: cover;
    background-position: center center;
    opacity: 0.7; /* Sesuaikan tingkat transparansi gradien */
}

.content {
    /* color: white;
    text-align: center;
    font-size: 24px; */
    padding-top: 62px; /* Contoh padding di dalam konten */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

/* Section Berita */
/* .news-section {
    padding: 50px 0;
} */
.news-title {
    text-align: center;
    color: #002D85;
    margin-bottom: 30px;
}
.news-card {
    border: none;
    border-radius: 15px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 5;
    margin: 20px;
    
}
.news-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.news-card-body {
    padding: 20px;
}
.news-card-button {
    background-color: #002D85;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
}
.carousel-control-prev, .carousel-control-next {
    filter: invert(100%);
}


.maps-card {
    border-width: 3px; /* Atur lebar garis tepi */
    border-color: var(--warna) ; /* Atur warna garis tepi, bisa disesuaikan sesuai keinginan */
    width: auto; /* Sesuaikan lebar kartu dengan konten di dalamnya */
    display: inline-block; /* Agar lebar kartu sesuai dengan konten */
    /* margin-top: 20px; */
    /* z-index: 5; */
    /* margin: 20px; */
}

.visimisi-card {
    border-width: 3px; /* Atur lebar garis tepi */
    /* border-color: #002D85 ; Atur warna garis tepi, bisa disesuaikan sesuai keinginan */
    width: auto; /* Sesuaikan lebar kartu dengan konten di dalamnya */
    display: inline-block; /* Agar lebar kartu sesuai dengan konten */
    /* margin-top: 20px; */
    border: none;
    border-radius: 15px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    /* z-index: 5; */
    /* margin: 20px; */
}

.struktur-card {
    border-width: 3px; /* Atur lebar garis tepi */
    width: auto; /* Sesuaikan lebar kartu dengan konten di dalamnya */
    display: inline-block; /* Agar lebar kartu sesuai dengan konten */
    border: none;
    border-radius: 15px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

.detail-card {
    border-width: 3px; /* Atur lebar garis tepi */
    width: auto; /* Sesuaikan lebar kartu dengan konten di dalamnya */
    display: inline-block; /* Agar lebar kartu sesuai dengan konten */
    border: none;
    display: block; 
    border-radius: 15px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

.header-card {
    border-width: 3px; /* Atur lebar garis tepi */
    width: auto; /* Sesuaikan lebar kartu dengan konten di dalamnya */
    display: inline-block; /* Agar lebar kartu sesuai dengan konten */
    border: none;
    display: block; 
    border-radius: 15px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
}

.carousel-control-custom {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content:end;
    right: 20px;
}

.carousel-control-prev-custom, .carousel-control-next-custom {
    color: #002D85;
    font-weight: bold;
    background: none;
    border: none;
    outline: none;
    margin-right:  15px;
}

.kegiatan-image {
    width: 100%; /* Pastikan gambar memenuhi lebar kontainer */
    height: 400px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover; /* Memastikan gambar menyesuaikan ruang tanpa mengubah rasio */
}

/* Atur ukuran kartu kegiatan jika diperlukan */
.news-card {
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.news-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%; /* Pastikan gambar memenuhi lebar kontainer */
    height: 400px; /* Atur tinggi gambar sesuai kebutuhan */
    object-fit: cover; /* Memastikan gambar menyesuaikan ruang tanpa mengubah rasio */
}

.news-card-body {
    padding: 20px;
}

/* Atur kontainer deskripsi */
.description-container {
    max-width: 70%; /* Setengah dari lebar halaman */
    margin-left: 0; /* Atur margin kiri */
    padding: 0px; /* Tambahkan padding jika diperlukan */
    color: white; /* Atur warna teks */
    text-align: left; /* Atur perataan teks jika diperlukan */
}

/* Style umum untuk teks putih */
.text-white {
    color: white;
}

/* Style khusus untuk posisi relatif */
.position-relative {
    position: relative; 
    background-size: cover;
    background-position: center center; 
    height: 713px; /* Sesuaikan tinggi sesuai kebutuhan */
}

/* Overlay gradient */
.overlay-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/img/gradian.svg');
    background-size: cover;
    background-position: center center;
    opacity: 0.7; /* Sesuaikan tingkat transparansi gradien */
}

/* Style untuk padding kustom */
.custom-padding {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* Gaya untuk header */
.header-content {
    padding-top: 110px;
}

.kegiatan-image {
    height: 200px;
    object-fit: cover;
}

.news-card {
    margin-bottom: 20px;
}

.carousel-inner {
    padding: 0 15px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000;
    border-radius: 50%;
}

.position-relative-detail {
    position: relative; 
    background-size: cover;
    background-position: center center; 
    min-height: 713px; /* Sesuaikan tinggi sesuai kebutuhan */
}


.social-icon {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 3px solid  var(--warna) ; /* Menambahkan border berwarna biru */
    border-radius: 5%; /* Membuat border menjadi bulat */
    transition: transform 0.3s ease; /* Untuk efek halus saat hover */
}

.social-icon:hover {
    transform: scale(1.1); /* Sedikit memperbesar icon saat di-hover */
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
